
body{
    background-color: rgb(50, 50, 50);
 
 }
header{
    padding: 30px;
    position: relative;
    margin-bottom: 500px;
    background-color: #b026ff;
    box-shadow: 0 0 50px #b026ff;
}
.titulo{
    color:aliceblue;
    text-shadow: 0 0 6px white;
}
.telalogin{
    position: relative;
}
.titulologin{
     margin-top: 120px;
     position: relative;
}
p#titulousername{
    color: white;
    position: absolute;
    margin: 2px;
    left: 155px;
}
p#titulosenha{
     color: white;
     position: relative;
     margin: 2px;
     left: 552px;
}
.logininputs{
    border: 2px solid gray;
    border-radius: 7px;
    width: 300px;
    height: 30px;
    box-shadow: 0 0 20px #b026ff;
}
.logininputs::placeholder{
     position: relative;
     left: 105px;
     font-size:18px;
     color: rgb(166, 108, 196);
     
}
.logininputs#usernam3{
    position: relative;
    font-size: 20px;
      
    
}
.logininputs#passw0rd{
    position: relative;
     font-size: 20px;
     
}
.nãologin{
  position: relative;
}

.nãologin.mudarapelido{
    color: #b026ff;
    position: absolute;
    left: 50px;
    margin-top: 36px;
    font-size: 15px;
    
}
.nãologin.mudarsenha{
    color: #b026ff;
    position: absolute;
    left: 450px;
    margin-top: 36px;
    font-size: 15px;
}
.checkandlabel{
    position: relative;

    
}
#caixabox{
   position: absolute;
   left: 50px;
   margin-top: 60px;
}
#mantermeconectado{
    position:absolute;
    color: white;
    margin-top: 54px;
    left: 64px;
}
#botaologin{
     position: relative;
     left:684px;
     margin-top: 52px;
     font-size: 20px;
     border: 2px;
     border-radius: 10px;
}
#botaologin{
    color: rgb(158, 78, 199);
    box-shadow: 0 0 20px #b026ff;
}
/*.telalogin.mudarapelido{
    color: rgb(162, 0, 255);
    position: relative;
    right: 742px;
    margin-top: 18px;
    padding-top: 20px;
    font-size: 15px;
}  */
/*.telalogin.mudarsenha{
    color: rgb(162, 0, 255);
    position: relative;
    right: 457px;
    margin-top: 18px;
    padding-top: 20px;
    font-size: 15px;
}  */