
.logininputs{
    border: 2px solid gray;
    border-radius: 7px;
    width: 300px;
    height: 40px;
}
.logininputs::placeholder{
     position: relative;
     left: 92px;
     font-size:20px;
     z-index: 0;
}
.logininputs#usernam3{
      font-size: 20px;
      padding-left: 12px;
     z-index: 0;

}
.logininputs#passw0rd{
     font-size: 20px;
     padding-left: 12px;
    
}
header{
    padding: 30px;
    background-color: rgb(162, 0, 255);
}
.titulo{
  color:aliceblue;
}
body{
   background-color: rgb(46, 46, 46);

}
.telalogin{
    margin-top: 100px;
    margin-left: 220px;
    
}
.nãologin{
  z-index: 1;
  position: absolute;

}
.nãologin.mudarapelido{
    color: rgb(162, 0, 255);
    position: relative;
    right: 742px;
    margin-top: 18px;
    padding-top: 20px;
    font-size: 15px;
    
}
.nãologin.mudarsenha{
    color: rgb(162, 0, 255);
    position: relative;
    right: 457px;
    margin-top: 18px;
    padding-top: 20px;
    font-size: 15px;
}
/*.telalogin.mudarapelido{
    color: rgb(162, 0, 255);
    position: relative;
    right: 742px;
    margin-top: 18px;
    padding-top: 20px;
    font-size: 15px;
}  */
/*.telalogin.mudarsenha{
    color: rgb(162, 0, 255);
    position: relative;
    right: 457px;
    margin-top: 18px;
    padding-top: 20px;
    font-size: 15px;
}  */
.telalogin{
display: flex;
}
